<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geekzhang.demo.mapper.DownloadMapper">

    <resultMap id="download" type="com.geekzhang.demo.orm.Download">
        <result property="id" column="id"/>
        <result property="fileId" column="fileId"/>
        <result property="userId" column="userId"/>
        <result property="time" column="time"/>
    </resultMap>

    <insert id="insert">
        insert into download(`fileId`, `userId`, `time`) values (#{fileId}, #{userId}, #{time})
    </insert>


</mapper>