<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geekzhang.demo.mapper.UserMapper">
    
    <resultMap id="user" type="com.geekzhang.demo.orm.User">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="pass" column="pass"/>
        <result property="email" column="email"/>
        <result property="vip" column="vip"/>
        <result property="size" column="size"/>
        <result property="use" column="use"/>
        <result property="pic" column="pic"/>
        <result property="vipExpiration" column="vipExpiration"/>
    </resultMap>

    <sql id="columns">
        `id`, `name`, `pass`, `email`, `vip`, `size`, `use`, `pic`
    </sql>

    <sql id="columns1">
        `name`, `pass`, `email`
    </sql>

    <sql id="updateColumns">
        <trim prefix="set" suffixOverrides=",">
            <if test="name!=null">
                `name` = #{name},
            </if>

            <if test="pass!=null">
                `pass` = #{pass},
            </if>

            <if test="email!=null">
                `email` = #{email},
            </if>

            <if test="vip!=null">
                `vip` = #{vip},
            </if>

            <if test="size!=null">
                `size` = #{size},
            </if>

            <if test="use!=null">
                `use` = #{use},
            </if>

            <if test="pic!=null">
                `pic` = #{pic},
            </if>

            <if test="vipExpiration!=null">
                `vipExpiration` = #{vipExpiration},
            </if>
        </trim>
    </sql>

    <select id = "findByName" parameterType = "java.lang.String" resultMap="user">
        select * from user where `name` = #{name}
    </select>
    
    <select id = "findAll" resultMap="user">
        select * from user
    </select>

    <select id = "findById" parameterType = "java.lang.String" resultMap="user">
        select * from user where `id` = #{id}
    </select>

    <select id = "findByEmail" resultMap="user" parameterType="java.lang.String">
        select <include refid="columns"/> from user
          where `email` = #{email}
    </select>

    <insert id="insert" parameterType="com.geekzhang.demo.orm.User">
        insert into user(<include refid="columns1"/>) VALUES ( #{name}, #{pass}, #{email})
    </insert>

    <update id="changePassByEmail" parameterType="java.util.Map">
        update user set pass = #{pass} where email = #{email}
    </update>

    <update id="sizePlus" parameterType="String">
        update user set size = size + #{size} where id = #{userId}
    </update>

    <update id="usePlus" parameterType="String">
        update user u set u.use = u.use + #{size} where id = #{userId}
    </update>

    <update id="update" parameterType="com.geekzhang.demo.orm.User">
        update user <include refid="updateColumns"/> where id = #{id}
    </update>
</mapper>